# MID

In [1]:
import pandas as pd
import numpy as np

# 1

In [3]:
air_crash = pd.read_csv("air_crash.csv")
air_crash

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,04/16/2019,11:00,"Puerto Montt, Chile",Archipelagos Service Aereos,NaN,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,CC-CYR,2169,6.0,5.0,1.0,6.0,5.0,1.0,0.0,"While the aircraft was in the initial climb, p..."
4963,05/05/2019,18:30,"Near Monclava, Mexico",TVPX Aircraft Solutions,NaN,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,N601VH,5043,13.0,11.0,2.0,13.0,11.0,2.0,0.0,The aircraft crashed while en route on a retur...
4964,05/05/2019,18:30,"Moscow, Russia",Aeroflot Russian International Airlines,NaN,Moscow - Murmansk,Sukhoi Superjet-100-95B,RA-89098,95135,78.0,73.0,5.0,41.0,40.0,1.0,0.0,Forty-five minutes after taking off from Mosco...
4965,06/03/2019,13:00,"Near Lipo, India",Military - Indian Air Force,NaN,Jorhat-Rowriah - Mechuka,Antonov An-32,K2752,1009,13.0,5.0,8.0,13.0,5.0,8.0,0.0,Crashed about 34km WNW of Mechuka.
4966,07/30/2019,02:00,"Rawalpindi, India",Military - Pakistan Army,NaN,Training,Beechcraft B300 King Air,766,B766,5.0,0.0,5.0,5.0,0.0,5.0,14.0,"The Pakistani military plane, on a training fl..."

# 2

In [4]:
air_crash.shape

(4967, 17)

# 3

In [8]:
air_crash['Location'].dropna().size

4963

# 4

In [11]:
x = air_crash.iloc[ 25:31, :]
x

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
25,07/19/1919,NaN,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,82,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The mail plane crashed under unknown circumsta...
26,07/21/1919,16:55,"Chicago, Illinois",Wingfoot Air Express Goodyear Tire,NaN,Shuttle,FD Type Dirigible,NaN,NaN,NaN,NaN,NaN,3.0,2.0,1.0,10.0,"The dirigible, cruising at 1,200 ft. caught f..."
27,08/02/1919,NaN,"Verona, Italy",Caproni Company,NaN,Venice Taliedo,Caproni Ca.48,NaN,NaN,14.0,12.0,2.0,14.0,12.0,2.0,0.0,As the plane was passing over Verona the wings...
28,10/02/1919,NaN,"Newcastle, England",Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,NaN
29,10/14/1919,NaN,"Cantonsville, Maryland",US Aerial Mail Service,NaN,NaN,Curtiss R-4LM,32,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The pilot was performing a mail flight to Balt...
30,10/20/1919,NaN,"English Channel off Forkstone, Kent",Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,G-EAHG,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Crashed into the sea while attempting to land ...

# 5

In [14]:
x = air_crash.loc[: , ['Date','Operator','AC Type']]
x.head(5)

         Date                Operator                 AC Type
0  09/17/1908    Military - U.S. Army        Wright Flyer III
1  09/07/1909                     NaN          Wright Byplane
2  07/12/1912    Military - U.S. Navy               Dirigible
3  08/06/1913                 Private        Curtiss seaplane
4  09/09/1913  Military - German Navy  Zeppelin L-1 (airship)

# 6

In [20]:
x = air_crash[air_crash['Fatalities'] > 500]
x

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
2885,03/27/1977,17:07,"Tenerife, Canary Islands",Pan American World Airways / KLM,1736/4805,Tenerife - Las Palmas / Tenerife - Las Palmas,Boeing B-747-121 / Boeing B-747-206B,N736PA/PH-BUF,19643/11 / 20400/157,644.0,614.0,30.0,583.0,560.0,23.0,0.0,Both aircraft were diverted to Tenerife becaus...
3324,08/12/1985,18:56,"Mt. Osutaka, near Ueno Village, Japan",Japan Air Lines,123,Tokyo - Osaka,Boeing B-747-SR46,JA8119,20783/230,524.0,509.0,15.0,520.0,505.0,15.0,0.0,The aircraft suffered an aft pressure bulkhead...

# 7

In [24]:
x = air_crash[air_crash['Location'].str.contains('Thailand') == True]
x

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
271,12/06/1931,05:45,"Bangkok, Thailand",KLM Royal Dutch Airlines,NaN,Djakarta - Amsterdam - Bangkok - Rangoon (Burma),Fokker F-VIIb-3M,PH-AFO,5226,7.0,3.0,4.0,5.0,2.0,3.0,0.0,Take off was made with the emergency hatch i...
1220,01/13/1951,NaN,"Mt. Bukit, Besar,Thailand",Air Carriers,NaN,Butterworth - Kota Bharu,Douglas DC-3,VR-HEP,15782/32530,10.0,7.0,3.0,10.0,7.0,3.0,0.0,Crashed into Bukit Besar Mountain while en route.
1560,03/31/1956,NaN,"Korat ,Thailand",Military - Royal Thai Air Force,NaN,Korat AFB - Bangkok,Douglas C-47A,L2-14/96,12667,19.0,17.0,2.0,19.0,17.0,2.0,0.0,Crashed shortly after taking off.
1967,07/19/1962,15:45,"Near Bangkok, Thailand",United Arab Airlines,869,Hong Kong - Bangkok,de Havilland Comet 4C,SU-AMW,06464,26.0,18.0,8.0,26.0,18.0,8.0,0.0,Crashed into a jungle on the side of a mountai...
2102,09/04/1964,19:00,"Near Vaong Nong, Thailand",Military - Royal Thai Air Force,NaN,Khoke Kathiam - Vaong Nong,Douglas C-47,NaN,NaN,34.0,NaN,NaN,28.0,NaN,NaN,0.0,Struck a tree and crashed during a nighttime l...
2299,12/25/1967,13:49,"Chiang Mai, Thailand",Thai Airways,002,Bangkok - Chiang Mai,Douglas DC-3,HS-TDH,9189,31.0,28.0,3.0,4.0,2.0,2.0,0.0,"During poor weather and after a flyby, the pil..."
2784,05/13/1975,21:15,"Near Sakon Nakhon, Thailand",Military - U.S. Air Force,NaN,Nakhom Phanom AB - Utapao AB,Sikorsky CH-53C (helicopter),68-10933,NaN,23.0,19.0,4.0,23.0,19.0,4.0,0.0,The copter was observed in an uncontrollable d...
2871,12/25/1976,03:45,"Near Bangkok, Thailand",EgyptAir,864,Cairo - Bangkok,Boeing B-707-366C,SU-AXA,20763,53.0,44.0,9.0,53.0,44.0,9.0,19.0,The aircraft crashed into an industrial area d...
3066,04/27/1980,06:55,"Don Muang, Thailand",Thai Airways,231,Khon Kaen - Bangkok,Hawker Siddeley HS-748-2,HS-THB,1568,53.0,49.0,4.0,44.0,40.0,4.0,0.0,"The aircraft entered a thunderstorm, was caugh..."
3162,04/30/1982,NaN,Gulf of Thailand,Okanagan Helicopters,NaN,NaN,Sikorsky S-76,C-GIMF,760038,13.0,NaN,NaN,13.0,NaN,NaN,0.0,The helicopter crashed under unknown circumsta...
3211,05/05/1983,10:20,"Near Ban Ta Khli, Thailand",Military - Royal Thai Air Force,NaN,NaN,Fairchild C-123K,L4K-12/18,20227,30.0,24.0,6.0,30.0,24.0,6.0,0.0,The aircraft was preparing to land at Ban ta K...
3310,04/15/1985,23:30,"Near Phuket, Thailand",Thai Airways,NaN,Bangkok - Phuket,Boeing B-737-200,HS-TBB,21810/604,11.0,4.0,7.0,11.0,4.0,7.0,0.0,The aircraft hit high ground during good weath...
3430,08/31/1987,15:36,"Off Ko Phuket, Thailand",Thai Airways,365,Hat Yai - Phuket,Boeing B-737-2P5,HS-TBC,22267/685,83.0,74.0,9.0,83.0,74.0,9.0,0.0,The aircraft stalled and crashed into the ocea...
3494,09/09/1988,11:38,"Bangkok, Thailand",Hang Khong (Vietnam),831,Hanoi - Bangkok,Tupolev TU-134A,VN-A102,60925,90.0,84.0,6.0,76.0,73.0,3.0,0.0,The aircraft crashed during approach in heavy ...
3655,11/21/1990,11:15,"Koh Samui, Thailand",Bangkok Airways,125,Bangkok - Koh Samui,de Havilland Canada DHC-8-103,OB-1358,T210-63675,38.0,33.0,5.0,38.0,33.0,5.0,0.0,"After receiving a runway change, the crew exec..."
3686,05/26/1991,23:17,"Near Ban Nong Rong, Thailand",Lauda Air,004,"Bangkok - Wien, Austria",Boeing B-767-3Z9ER,OE-LAV,24628/283,223.0,213.0,10.0,223.0,213.0,10.0,0.0,Twelve minutes after takeoff the crew received...
4163,12/11/1998,19:10,"Near Surat Thani, Thailand",Thai Airways,261,Bangkok - Surat Thani,Airbus A-310-204,HS-TIA,415,146.0,132.0,14.0,102.0,91.0,11.0,0.0,The plane crashed 2 miles southwest of Surat T...
4304,03/03/2001,14:48,"Bangkok, Thailand",Thai Airways,114,Bangkok - Chiang Mai.,Boeing B-737-4D7,HS-TDC,25321/2113,5.0,0.0,5.0,1.0,0.0,1.0,0.0,The aircraft exploded and caught fire 35 minut...
4632,09/16/2007,15:35,"Phuket, Thailand",One-Two-Go Airlines,269,Bangkok - Phuket,McDonnell Douglas MD-82,HS-OMG,49183/1129,130.0,123.0,7.0,90.0,85.0,5.0,0.0,While landing in heavy rain and strong cross w...
4662,06/20/2008,NaN,"Bannang Sata, Thailand",Military - Thai Army,NaN,NaN,Bell UH-1N,NaN,NaN,10.0,8.0,2.0,10.0,8.0,2.0,0.0,The military helicopter developed a mechanical...
4672,08/06/2008,11:40,"Sunat Tanon, Thailand",Military - Royal Thai Air Force,NaN,Betong - ?,Bell Huey UH-1H,NaN,NaN,10.0,8.0,2.0,10.0,8.0,2.0,0.0,The helicopter crashed while ferrying a forens...
4720,08/04/2009,14:30,"Koh Samui, Thailand",Bangkok Airlines,226,Karabi - Koh Samui,ATR-72-212A,HS-PGL,670,72.0,68.0,4.0,1.0,0.0,1.0,0.0,The plane skidded off the runway and collided ...

# 8

In [25]:
x = air_crash[air_crash['Location'].str.contains('Thailand') == True].dropna()
x

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
1967,07/19/1962,15:45,"Near Bangkok, Thailand",United Arab Airlines,869,Hong Kong - Bangkok,de Havilland Comet 4C,SU-AMW,06464,26.0,18.0,8.0,26.0,18.0,8.0,0.0,Crashed into a jungle on the side of a mountai...
2299,12/25/1967,13:49,"Chiang Mai, Thailand",Thai Airways,002,Bangkok - Chiang Mai,Douglas DC-3,HS-TDH,9189,31.0,28.0,3.0,4.0,2.0,2.0,0.0,"During poor weather and after a flyby, the pil..."
2871,12/25/1976,03:45,"Near Bangkok, Thailand",EgyptAir,864,Cairo - Bangkok,Boeing B-707-366C,SU-AXA,20763,53.0,44.0,9.0,53.0,44.0,9.0,19.0,The aircraft crashed into an industrial area d...
3066,04/27/1980,06:55,"Don Muang, Thailand",Thai Airways,231,Khon Kaen - Bangkok,Hawker Siddeley HS-748-2,HS-THB,1568,53.0,49.0,4.0,44.0,40.0,4.0,0.0,"The aircraft entered a thunderstorm, was caugh..."
3430,08/31/1987,15:36,"Off Ko Phuket, Thailand",Thai Airways,365,Hat Yai - Phuket,Boeing B-737-2P5,HS-TBC,22267/685,83.0,74.0,9.0,83.0,74.0,9.0,0.0,The aircraft stalled and crashed into the ocea...
3494,09/09/1988,11:38,"Bangkok, Thailand",Hang Khong (Vietnam),831,Hanoi - Bangkok,Tupolev TU-134A,VN-A102,60925,90.0,84.0,6.0,76.0,73.0,3.0,0.0,The aircraft crashed during approach in heavy ...
3655,11/21/1990,11:15,"Koh Samui, Thailand",Bangkok Airways,125,Bangkok - Koh Samui,de Havilland Canada DHC-8-103,OB-1358,T210-63675,38.0,33.0,5.0,38.0,33.0,5.0,0.0,"After receiving a runway change, the crew exec..."
3686,05/26/1991,23:17,"Near Ban Nong Rong, Thailand",Lauda Air,004,"Bangkok - Wien, Austria",Boeing B-767-3Z9ER,OE-LAV,24628/283,223.0,213.0,10.0,223.0,213.0,10.0,0.0,Twelve minutes after takeoff the crew received...
4163,12/11/1998,19:10,"Near Surat Thani, Thailand",Thai Airways,261,Bangkok - Surat Thani,Airbus A-310-204,HS-TIA,415,146.0,132.0,14.0,102.0,91.0,11.0,0.0,The plane crashed 2 miles southwest of Surat T...
4304,03/03/2001,14:48,"Bangkok, Thailand",Thai Airways,114,Bangkok - Chiang Mai.,Boeing B-737-4D7,HS-TDC,25321/2113,5.0,0.0,5.0,1.0,0.0,1.0,0.0,The aircraft exploded and caught fire 35 minut...
4632,09/16/2007,15:35,"Phuket, Thailand",One-Two-Go Airlines,269,Bangkok - Phuket,McDonnell Douglas MD-82,HS-OMG,49183/1129,130.0,123.0,7.0,90.0,85.0,5.0,0.0,While landing in heavy rain and strong cross w...
4720,08/04/2009,14:30,"Koh Samui, Thailand",Bangkok Airlines,226,Karabi - Koh Samui,ATR-72-212A,HS-PGL,670,72.0,68.0,4.0,1.0,0.0,1.0,0.0,The plane skidded off the runway and collided ...

# 9

In [29]:
x = air_crash[ (air_crash['Aboard Passangers'] > 100) & (air_crash['Fatalities Crew'] > air_crash['Fatalities Passangers'])]
x

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
3915,11/22/1994,22:03,"Bridgeton, Missouri",Trans World Airlines / Private,NaN,NaN,McDonnell Douglas DC-9-82 / Cessna 441,N954U/N411KM,49426 / 0196,142.0,132.0,10.0,2.0,0.0,2.0,0.0,"During its takeoff roll, the DC-9 collided wit..."
4201,07/23/1999,11:25,"Tokyo, Japan",All Nippon Airways,61,"Tokyo, Japan - Chitose, Japan",Boeing B-747,JA8966,27442/1066,517.0,503.0,14.0,1.0,0.0,1.0,0.0,Two minutes after taking off from Haneda Airpo...
4226,12/24/1999,NaN,"Amritsar, India / Kandahar, Afghanistan",Indian Airlines,814,Kathmandu - New Delhi,Airbus A300B2-101,VT-EDW,036,189.0,174.0,15.0,1.0,0.0,1.0,0.0,The plane was hijacked and subsequently flown ...
4291,11/20/2000,12:22,"Miami, Florida",American Airlines,NaN,"Miami, FL - Port au Prince",Airbus A300-600R,N14056,463,114.0,105.0,9.0,1.0,0.0,1.0,0.0,"After climbing through 16,000 ft. the crew des..."
4718,07/24/2009,18:20,"Mashad, Iran",Aria Airlines,1525,Tehran - Mashad,Ilyushin Il-62M,UP-16208,1591525/257,153.0,138.0,15.0,16.0,3.0,13.0,0.0,"While attempting to land, the plane skidded of..."

# 10

In [31]:
air_crash['Fatalities'].sum()

np.float64(110775.0)

# 11

In [35]:
x = air_crash.loc[air_crash['Fatalities'] == air_crash['Fatalities'].max()]
x

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
2885,03/27/1977,17:07,"Tenerife, Canary Islands",Pan American World Airways / KLM,1736/4805,Tenerife - Las Palmas / Tenerife - Las Palmas,Boeing B-747-121 / Boeing B-747-206B,N736PA/PH-BUF,19643/11 / 20400/157,644.0,614.0,30.0,583.0,560.0,23.0,0.0,Both aircraft were diverted to Tenerife becaus...

# 12

In [36]:
air_crash['Fatalities Percent'] = air_crash['Fatalities']/air_crash['Aboard']
air_crash

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary,Fatalities Percent
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly...",0.500000
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...,1.000000
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,1.000000
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...,1.000000
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,04/16/2019,11:00,"Puerto Montt, Chile",Archipelagos Service Aereos,NaN,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,CC-CYR,2169,6.0,5.0,1.0,6.0,5.0,1.0,0.0,"While the aircraft was in the initial climb, p...",1.000000
4963,05/05/2019,18:30,"Near Monclava, Mexico",TVPX Aircraft Solutions,NaN,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,N601VH,5043,13.0,11.0,2.0,13.0,11.0,2.0,0.0,The aircraft crashed while en route on a retur...,1.000000
4964,05/05/2019,18:30,"Moscow, Russia",Aeroflot Russian International Airlines,NaN,Moscow - Murmansk,Sukhoi Superjet-100-95B,RA-89098,95135,78.0,73.0,5.0,41.0,40.0,1.0,0.0,Forty-five minutes after taking off from Mosco...,0.525641
4965,06/03/2019,13:00,"Near Lipo, India",Military - Indian Air Force,NaN,Jorhat-Rowriah - Mechuka,Antonov An-32,K2752,1009,13.0,5.0,8.0,13.0,5.0,8.0,0.0,Crashed about 34km WNW of Mechuka.,1.000000
4966,07/30/2019,02:00,"Rawalpindi, India",Military - Pakistan Army,NaN,Training,Beechcraft B300 King Air,766,B766,5.0,0.0,5.0,5.0,0.0,5.0,14.0,"The Pakistani military plane, on a training fl...",1.000000