In [2]:
import pandas as pd

player_df = pd.read_csv('players.csv').loc[:, :'saves']
player_df

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
2,Boudebouz,Algeria,midfielder,74,3,28,1,0
3,Bougherra,Algeria,defender,270,1,89,11,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0

In [2]:
#use Surname as index
player_df.set_index('surname')

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      0       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [3]:
multi_index_player = player_df.set_index(['team', 'surname'])
multi_index_player

                         position  minutes  shots  passes  tackles  saves
team    surname
Algeria Abdoun         midfielder       16      0       6        0      0
        Belhadj          defender      270      1     146        8      0
        Boudebouz      midfielder       74      3      28        1      0
        Bougherra        defender      270      1      89       11      0
        Chaouchi       goalkeeper       90      0      17        0      2
...                           ...      ...    ...     ...      ...    ...
USA     Holden         midfielder        4      0       2        0      0
        Howard         goalkeeper      390      0      81        0     14
        Jozy Altidore     forward      356      8      84        2      0
        Onyewu           defender      170      1      69        2      0
        Torres         midfielder       45      1      32        0      0

[595 rows x 6 columns]

In [4]:
multi_index_player.loc[('Algeria', 'Abdoun'), :]

C:\Users\spire\AppData\Local\Temp\ipykernel_30516\44209120.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  multi_index_player.loc[('Algeria', 'Abdoun'), :]

                   position  minutes  shots  passes  tackles  saves
team    surname
Algeria Abdoun   midfielder       16      0       6        0      0

In [13]:
#Create MultiIndex to assign to columns
x = pd.MultiIndex.from_tuples( [('Info', 'position'),
                           ('Info', 'minutes'),
                           ('Attack', 'shots'),
                           ('Attack', 'passes'),
                           ('Defense', 'tackles'),
                           ('Defense', 'saves')])

In [14]:
multi_index_player.columns = x
multi_index_player

                             Info         Attack        Defense
                         position minutes  shots passes tackles saves
team    surname
Algeria Abdoun         midfielder      16      0      6       0     0
        Belhadj          defender     270      1    146       8     0
        Boudebouz      midfielder      74      3     28       1     0
        Bougherra        defender     270      1     89      11     0
        Chaouchi       goalkeeper      90      0     17       0     2
...                           ...     ...    ...    ...     ...   ...
USA     Holden         midfielder       4      0      2       0     0
        Howard         goalkeeper     390      0     81       0    14
        Jozy Altidore     forward     356      8     84       2     0
        Onyewu           defender     170      1     69       2     0
        Torres         midfielder      45      1     32       0     0

[595 rows x 6 columns]

In [12]:
multi_index_player.loc['Algeria', 'Attack']

C:\Users\spire\AppData\Local\Temp\ipykernel_30516\2224976606.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  multi_index_player.loc['Algeria', 'Attack']

           shots  passes
surname
Abdoun         0       6
Belhadj        1     146
Boudebouz      3      28
Bougherra      1      89
Chaouchi       0      17
Djebbour       3      19
Ghezzal        3       8
Guedioura      0      18
Halliche       2      94
Kadir          0     104
Lacen          0     158
M'Bolhi        0      30
Matmour        3      68
Mesbah         0       1
Saifi          1       3
Yahia          1      79
Yebda          8     138
Ziani          5      93

In [16]:
#นอกสุด = level 0
multi_index_player.xs('Torres', level=1)

#ดูสถิติของ Torres มี Torres จาก 3 ทีม

                Info         Attack        Defense
            position minutes  shots passes tackles saves
team
Paraguay    defender      82      2     29       1     0
Spain        forward     278      9     50       0     0
USA       midfielder      45      1     32       0     0

In [17]:
multi_index_player.xs('Algeria', level=0)

                 Info         Attack        Defense
             position minutes  shots passes tackles saves
surname
Abdoun     midfielder      16      0      6       0     0
Belhadj      defender     270      1    146       8     0
Boudebouz  midfielder      74      3     28       1     0
Bougherra    defender     270      1     89      11     0
Chaouchi   goalkeeper      90      0     17       0     2
Djebbour      forward     123      3     19       1     0
Ghezzal       forward      40      3      8       0     0
Guedioura  midfielder      38      0     18       1     0
Halliche     defender     270      2     94       4     0
Kadir      midfielder     262      0    104       3     0
Lacen      midfielder     270      0    158       8     0
M'Bolhi    goalkeeper     180      0     30       0    12
Matmour    midfielder     255      3     68       3     0
Mesbah     midfielder       1      0      1       0     0
Saifi         forward      15      1      3       0     0
Yahia        defender     269      1     79       4     0
Yebda      midfielder     269      8    138      10     0
Ziani      midfielder     240      5     93       6     0

In [20]:
#Sorting index

multi_index_player.sort_index(ascending=[True,False]) #Sort ตามชั้น

                              Info         Attack        Defense
                          position minutes  shots passes tackles saves
team    surname
Algeria Ziani           midfielder     240      5     93       6     0
        Yebda           midfielder     269      8    138      10     0
        Yahia             defender     269      1     79       4     0
        Saifi              forward      15      1      3       0     0
        Mesbah          midfielder       1      0      1       0     0
...                            ...     ...    ...    ...     ...   ...
Uruguay Cavani             forward     435      9    151      11     0
        Caceres           defender      90      0     32       4     0
        Arevalo Rios    midfielder     570      5    195      21     0
        Alvaro Pereira  midfielder     409      6    140      17     0
        Abreu              forward      72      0     15       0     0

[595 rows x 6 columns]

In [21]:
#Swaplevel
multi_index_player.swaplevel() #Swap surname กับ team (ในกับนอก)

                             Info         Attack        Defense
                         position minutes  shots passes tackles saves
surname       team
Abdoun        Algeria  midfielder      16      0      6       0     0
Belhadj       Algeria    defender     270      1    146       8     0
Boudebouz     Algeria  midfielder      74      3     28       1     0
Bougherra     Algeria    defender     270      1     89      11     0
Chaouchi      Algeria  goalkeeper      90      0     17       0     2
...                           ...     ...    ...    ...     ...   ...
Holden        USA      midfielder       4      0      2       0     0
Howard        USA      goalkeeper     390      0     81       0    14
Jozy Altidore USA         forward     356      8     84       2     0
Onyewu        USA        defender     170      1     69       2     0
Torres        USA      midfielder      45      1     32       0     0

[595 rows x 6 columns]

In [27]:
#What if having multiple levels????
df_3_lvl = player_df.set_index(['team','position','surname'])
df_3_lvl

                                  minutes  shots  passes  tackles  saves
team    position   surname
Algeria midfielder Abdoun              16      0       6        0      0
        defender   Belhadj            270      1     146        8      0
        midfielder Boudebouz           74      3      28        1      0
        defender   Bougherra          270      1      89       11      0
        goalkeeper Chaouchi            90      0      17        0      2
...                                   ...    ...     ...      ...    ...
USA     midfielder Holden               4      0       2        0      0
        goalkeeper Howard             390      0      81        0     14
        forward    Jozy Altidore      356      8      84        2      0
        defender   Onyewu             170      1      69        2      0
        midfielder Torres              45      1      32        0      0

[595 rows x 5 columns]

In [28]:
df_3_lvl.swaplevel(0,2) #0 team, 2 surname

                                  minutes  shots  passes  tackles  saves
surname       position   team
Abdoun        midfielder Algeria       16      0       6        0      0
Belhadj       defender   Algeria      270      1     146        8      0
Boudebouz     midfielder Algeria       74      3      28        1      0
Bougherra     defender   Algeria      270      1      89       11      0
Chaouchi      goalkeeper Algeria       90      0      17        0      2
...                                   ...    ...     ...      ...    ...
Holden        midfielder USA            4      0       2        0      0
Howard        goalkeeper USA          390      0      81        0     14
Jozy Altidore forward    USA          356      8      84        2      0
Onyewu        defender   USA          170      1      69        2      0
Torres        midfielder USA           45      1      32        0      0

[595 rows x 5 columns]

In [29]:
df_3_lvl.swaplevel(1,0).sort_index()

                                   minutes  shots  passes  tackles  saves
position   team      surname
defender   Algeria   Belhadj           270      1     146        8      0
                     Bougherra         270      1      89       11      0
                     Halliche          270      2      94        4      0
                     Yahia             269      1      79        4      0
           Argentina Burdisso          341      1     167        1      0
...                                    ...    ...     ...      ...    ...
midfielder Uruguay   Gargano            91      0      44        1      0
                     Gonzalez           63      0      34        2      0
                     Lodeiro           109      0      37        1      0
                     Maxi Pereira      570      5     182       15      0
                     Perez             567      2     252       34      0

[595 rows x 5 columns]

In [31]:
#use () as a frame to shorthand
(
    pd.read_csv('players.csv').loc[:, :'saves']
                              .set_index(['team','position','surname'])
                              .swaplevel(1,0)
                              .sort_index()
)

                                   minutes  shots  passes  tackles  saves
position   team      surname
defender   Algeria   Belhadj           270      1     146        8      0
                     Bougherra         270      1      89       11      0
                     Halliche          270      2      94        4      0
                     Yahia             269      1      79        4      0
           Argentina Burdisso          341      1     167        1      0
...                                    ...    ...     ...      ...    ...
midfielder Uruguay   Gargano            91      0      44        1      0
                     Gonzalez           63      0      34        2      0
                     Lodeiro           109      0      37        1      0
                     Maxi Pereira      570      5     182       15      0
                     Perez             567      2     252       34      0

[595 rows x 5 columns]

In [33]:
## Stack / Unstack Demo
multi_index_player.head(10)

                         Info         Attack        Defense
                     position minutes  shots passes tackles saves
team    surname
Algeria Abdoun     midfielder      16      0      6       0     0
        Belhadj      defender     270      1    146       8     0
        Boudebouz  midfielder      74      3     28       1     0
        Bougherra    defender     270      1     89      11     0
        Chaouchi   goalkeeper      90      0     17       0     2
        Djebbour      forward     123      3     19       1     0
        Ghezzal       forward      40      3      8       0     0
        Guedioura  midfielder      38      0     18       1     0
        Halliche     defender     270      2     94       4     0
        Kadir      midfielder     262      0    104       3     0

In [34]:
multi_index_player.stack()

#NaN เพราะข้อมูลบางอย่าง มันไม่ได้อยู่ใต้คอลัมน์นั้นๆ มันเลยเติม NaN ให้

C:\Users\spire\AppData\Local\Temp\ipykernel_30516\3288155610.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  multi_index_player.stack()

                                Info  Attack  Defense
team    surname
Algeria Abdoun  minutes           16     NaN      NaN
                passes           NaN     6.0      NaN
                position  midfielder     NaN      NaN
                saves            NaN     NaN      0.0
                shots            NaN     0.0      NaN
...                              ...     ...      ...
USA     Torres  passes           NaN    32.0      NaN
                position  midfielder     NaN      NaN
                saves            NaN     NaN      0.0
                shots            NaN     1.0      NaN
                tackles          NaN     NaN      0.0

[3570 rows x 3 columns]

In [15]:
## Pivot And Melt

#ข้ามไป 1 แถว คือ Avg temperatures และ slice ถึงแค่ dec
eu_temp = pd.read_csv('eu_city_temp.csv', skiprows=1).loc[:, :'Dec']
eu_temp

#อยากได้ Country, City, Month, Temperature
          #Au    Vienna  Jan    -0.5\n(32.5)
          #Au    Vienna  Feb    1.5\n(34.7)
          #...

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Austria,Vienna,0.3\n(32.5),1.5\n(34.7),5.7\n(42.3),10.7\n(51.3),15.7\n(60.3),18.7\n(65.7),20.8\n(69.4),20.2\n(68.4),15.4\n(59.7),10.2\n(50.4),5.1\n(41.2),1.1\n(34.0)
1,Belgium,Brussels,3.3\n(37.9),3.7\n(38.7),6.8\n(44.2),9.8\n(49.6),13.6\n(56.5),16.2\n(61.2),18.4\n(65.1),18.0\n(64.4),14.9\n(58.8),11.1\n(52.0),6.8\n(44.2),3.9\n(39.0)
2,Bulgaria,Sofia,−0.5\n(31.1),1.1\n(34.0),5.4\n(41.7),10.6\n(51.1),15.4\n(59.7),18.9\n(66.0),21.2\n(70.2),21.0\n(69.8),16.5\n(61.7),11.3\n(52.3),5.1\n(41.2),0.7\n(33.3)
3,Croatia,Zagreb,0.3\n(32.5),2.3\n(36.1),6.4\n(43.5),10.7\n(51.3),15.8\n(60.4),18.8\n(65.8),20.6\n(69.1),20.1\n(68.2),15.9\n(60.6),10.5\n(50.9),5.0\n(41.0),1.4\n(34.5)
4,Czech Republic,Prague,−1.4\n(29.5),−0.4\n(31.3),3.6\n(38.5),8.4\n(47.1),13.4\n(56.1),16.1\n(61.0),18.2\n(64.8),17.8\n(64.0),13.5\n(56.3),8.5\n(47.3),3.1\n(37.6),−0.3\n(31.5)
5,Denmark,Copenhagen,0.6\n(33.1),0.5\n(32.9),2.5\n(36.5),6.1\n(43.0),11.1\n(52.0),14.8\n(58.6),16.9\n(62.4),16.7\n(62.1),13.1\n(55.6),9.1\n(48.4),4.9\n(40.8),2.1\n(35.8)
6,Finland,Helsinki,−3.9\n(25.0),−4.7\n(23.5),−1.3\n(29.7),3.9\n(39.0),10.2\n(50.4),14.6\n(58.3),17.8\n(64.0),16.3\n(61.3),11.5\n(52.7),6.6\n(43.9),1.6\n(34.9),−2.0\n(28.4)
7,Finland,Kuopio,−9.2\n(15.4),−9.2\n(15.4),−4.1\n(24.6),2.0\n(35.6),9.1\n(48.4),14.5\n(58.1),17.5\n(63.5),15.0\n(59.0),9.7\n(49.5),4.1\n(39.4),−2.0\n(28.4),−6.7\n(19.9)
8,Finland,Oulu,−9.6\n(14.7),−9.3\n(15.3),−4.8\n(23.4),1.4\n(34.5),7.8\n(46.0),13.5\n(56.3),16.5\n(61.7),14.1\n(57.4),8.9\n(48.0),3.3\n(37.9),−2.8\n(27.0),−7.1\n(19.2)
9,France,Marseille,8.4\n(47.1),8.9\n(48.0),11.6\n(52.9),13.8\n(56.8),17.9\n(64.2),21.3\n(70.3),24.5\n(76.1),24.1\n(75.4),20.7\n(69.3),16.9\n(62.4),11.8\n(53.2),9.3\n(48.7)
10,France,Paris,4.9\n(40.8),5.6\n(42.1),8.8\n(47.8),11.4\n(52.5),15.1\n(59.2),18.2\n(64.8),20.4\n(68.7),20.2\n(68.4),16.9\n(62.4),12.9\n(55.2),8.1\n(46.6),5.4\n(41.7)
11,Germany,Berlin,0.6\n(33.1),2.3\n(36.1),5.1\n(41.2),10.2\n(50.4),14.8\n(58.6),17.9\n(64.2),20.3\n(68.5),19.7\n(67.5),15.3\n(59.5),10.5\n(50.9),6.0\n(42.8),1.3\n(34.3)
12,Germany,Frankfurt,1\n(34),2\n(36),6\n(43),8\n(46),13\n(55),16\n(61),18\n(64),18\n(64),15\n(59),10\n(50),5\n(41),2\n(36)
13,Greece,Athens,10.2\n(50.4),10.9\n(51.6),13.2\n(55.8),16.9\n(62.4),21.8\n(71.2),26.6\n(79.9),29.3\n(84.7),29.3\n(84.7),25.0\n(77.0),20.1\n(68.2),15.5\n(59.9),11.5\n(52.7)
14,Greece,Piraeus,11.1\n(52.0),11.2\n(52.2),13.3\n(55.9),16.9\n(62.4),21.4\n(70.5),26.3\n(79.3),29.0\n(84.2),28.8\n(83.8),25.2\n(77.4),20.6\n(69.1),15.8\n(60.4),12.6\n(54.7)
15,Hungary,Budapest,0.4\n(32.7),2.3\n(36.1),6.1\n(43.0),12.0\n(53.6),16.6\n(61.9),19.7\n(67.5),21.5\n(70.7),21.2\n(70.2),16.9\n(62.4),11.8\n(53.2),5.4\n(41.7),1.8\n(35.2)
16,Iceland,Reykjavík,−0.5\n(31.1),0.4\n(32.7),0.5\n(32.9),2.9\n(37.2),6.3\n(43.3),9.0\n(48.2),10.6\n(51.1),10.3\n(50.5),7.4\n(45.3),4.4\n(39.9),1.1\n(34.0),−0.2\n(31.6)
17,Ireland,Dublin,5.3\n(41.5),5.3\n(41.5),6.8\n(44.2),8.3\n(46.9),10.9\n(51.6),13.6\n(56.5),15.6\n(60.1),15.3\n(59.5),13.4\n(56.1),10.5\n(50.9),7.4\n(45.3),5.6\n(42.1)
18,Italy,Milan,2.5\n(36.5),4.7\n(40.5),9.0\n(48.2),12.2\n(54.0),17.0\n(62.6),20.8\n(69.4),23.6\n(74.5),23.0\n(73.4),19.2\n(66.6),13.4\n(56.1),7.2\n(45.0),3.3\n(37.9)
19,Italy,Rome,7.5\n(45.5),8.2\n(46.8),10.2\n(50.4),12.6\n(54.7),17.2\n(63.0),21.1\n(70.0),24.1\n(75.4),24.5\n(76.1),20.8\n(69.4),16.4\n(61.5),11.4\n(52.5),8.4\n(47.1)
20,Malta,Valletta,12.2\n(54.0),12.4\n(54.3),13.4\n(56.1),15.5\n(59.9),19.1\n(66.4),23.0\n(73.4),25.9\n(78.6),26.3\n(79.3),24.1\n(75.4),20.7\n(69.3),17.0\n(62.6),13.8\n(56.8)
21,Netherlands,Amsterdam,3.4\n(38.1),3.5\n(38.3),6.1\n(43.0),9.1\n(48.4),12.9\n(55.2),15.4\n(59.7),17.6\n(63.7),17.5\n(63.5),14.7\n(58.5),11.0\n(51.8),7.1\n(44.8),4.0\n(39.2)
22,Norway,Bergen,1.5\n(34.7),1.6\n(34.9),3.3\n(37.9),5.9\n(42.6),10.5\n(50.9),13.5\n(56.3),14.5\n(58.1),14.4\n(57.9),11.5\n(52.7),8.7\n(47.7),4.7\n(40.5),2.6\n(36.7)
23,Norway,Oslo,−4.3\n(24.3),−4.0\n(24.8),−0.2\n(31.6),4.5\n(40.1),10.8\n(51.4),15.2\n(59.4),16.4\n(61.5),15.2\n(59.4),10.8\n(51.4),6.3\n(43.3),0.7\n(33.3),−3.1\n(26.4)
24,Norway,Tromsø,−3.8\n(25.2),−3.7\n(25.3),−2.3\n(27.9),0.7\n(33.3),5.1\n(41.2),9.2\n(48.6),11.8\n(53.2),10.9\n(51.6),6.9\n(44.4),3.2\n(37.8),−0.6\n(30.9),−2.7\n(27.1)
25,Poland,Warsaw,−1.8\n(28.8),−0.6\n(30.9),2.8\n(37.0),8.7\n(47.7),14.2\n(57.6),17.0\n(62.6),19.2\n(66.6),18.3\n(64.9),13.5\n(56.3),8.5\n(47.3),3.3\n(37.9),−0.7\n(30.7)
26,Portugal,Lisbon,11.6\n(52.9),12.7\n(54.9),14.9\n(58.8),15.9\n(60.6),18.0\n(64.4),21.2\n(70.2),23.1\n(73.6),23.5\n(74.3),22.1\n(71.8),18.8\n(65.8),15.0\n(59.0),12.4\n(54.3)
27,Romania,Bucharest,−1.3\n(29.7),0.4\n(32.7),5.4\n(41.7),11.2\n(52.2),16.8\n(62.2),20.6\n(69.1),22.5\n(72.5),22.0\n(71.6),16.9\n(62.4),11.0\n(51.8),4.7\n(40.5),0.2\n(32.4)
28,Russia,Arkhangelsk,−12.7\n(9.1),−11.4\n(11.5),−5.5\n(22.1),0.4\n(32.7),6.9\n(44.4),13.0\n(55.4),16.3\n(61.3),13.1\n(55.6),8.2\n(46.8),2.3\n(36.1),−5.1\n(22.8),−9.8\n(14.4)
29,Russia,Moscow,−6.5\n(20.3),−6.7\n(19.9),−1.0\n(30.2),6.7\n(44.1),13.2\n(55.8),17.0\n(62.6),19.2\n(66.6),17.0\n(62.6),11.3\n(52.3),5.6\n(42.1),−1.2\n(29.8),−5.2\n(22.6)
30,Russia,Murmansk,−10.1\n(13.8),−9.7\n(14.5),−5.5\n(22.1),−0.7\n(30.7),4.0\n(39.2),9.2\n(48.6),12.8\n(55.0),11.1\n(52.0),7.0\n(44.6),1.5\n(34.7),−4.8\n(23.4),−8.2\n(17.2)
31,Russia,Rostov-on-Don,−3.0\n(26.6),−2.8\n(27.0),2.4\n(36.3),10.6\n(51.1),16.6\n(61.9),21.0\n(69.8),23.4\n(74.1),22.6\n(72.7),16.7\n(62.1),10.0\n(50.0),2.9\n(37.2),−1.6\n(29.1)
32,Russia,Sochi,6.1\n(43.0),6.0\n(42.8),8.2\n(46.8),12.1\n(53.8),16.0\n(60.8),20.2\n(68.4),23.2\n(73.8),23.6\n(74.5),20.0\n(68.0),15.8\n(60.4),11.1\n(52.0),8.1\n(46.6)
33,Serbia,Belgrade,1.4\n(34.5),3.1\n(37.6),7.6\n(45.7),12.9\n(55.2),18.1\n(64.6),21.0\n(69.8),23.0\n(73.4),22.7\n(72.9),18.0\n(64.4),12.9\n(55.2),7.1\n(44.8),2.7\n(36.9)
34,Spain,Almeria,12.6\n(54.7),13.3\n(55.9),15.1\n(59.2),17.0\n(62.6),19.7\n(67.5),23.5\n(74.3),26.1\n(79.0),26.7\n(80.1),24.2\n(75.6),20.4\n(68.7),16.4\n(61.5),13.8\n(56.8)
35,Spain,Barcelona,11.8\n(53.2),12.4\n(54.3),14.2\n(57.6),15.8\n(60.4),19.3\n(66.7),23.0\n(73.4),25.7\n(78.3),26.1\n(79.0),23.0\n(73.4),19.5\n(67.1),14.9\n(58.8),12.3\n(54.1)
36,Spain,Seville,10.9\n(51.6),12.5\n(54.5),15.6\n(60.1),17.3\n(63.1),20.7\n(69.3),25.1\n(77.2),28.2\n(82.8),27.9\n(82.2),25.0\n(77.0),20.2\n(68.4),15.1\n(59.2),11.9\n(53.4)
37,Spain,Madrid,6.3\n(43.3),7.9\n(46.2),11.2\n(52.2),12.9\n(55.2),16.7\n(62.1),22.2\n(72.0),25.6\n(78.1),25.1\n(77.2),20.9\n(69.6),15.1\n(59.2),9.9\n(49.8),6.9\n(44.4)
38,Sweden,Stockholm,−2.8\n(27.0),−3.0\n(26.6),0.1\n(32.2),4.6\n(40.3),10.7\n(51.3),15.6\n(60.1),17.2\n(63.0),16.2\n(61.2),11.9\n(53.4),7.5\n(45.5),2.6\n(36.7),−1.0\n(30.2)
39,Switzerland,Zürich,0.3\n(32.5),1.3\n(34.3),5.3\n(41.5),8.8\n(47.8),13.3\n(55.9),16.4\n(61.5),18.6\n(65.5),18.0\n(64.4),14.1\n(57.4),9.9\n(49.8),4.4\n(39.9),1.4\n(34.5)
40,Turkey,Istanbul,5.7\n(42.3),5.7\n(42.3),7.0\n(44.6),11.1\n(52.0),15.7\n(60.3),20.4\n(68.7),22.9\n(73.2),23.1\n(73.6),19.8\n(67.6),15.6\n(60.1),11.5\n(52.7),8.0\n(46.4)
41,Ukraine,Kiev,−3.5\n(25.7),−3.0\n(26.6),1.8\n(35.2),9.3\n(48.7),15.5\n(59.9),18.5\n(65.3),20.5\n(68.9),19.7\n(67.5),14.2\n(57.6),8.4\n(47.1),1.9\n(35.4),−2.3\n(27.9)
42,United Kingdom,Edinburgh,4.2\n(39.6),4.5\n(40.1),6.2\n(43.2),8.1\n(46.6),10.8\n(51.4),13.5\n(56.3),15.3\n(59.5),15.2\n(59.4),13.0\n(55.4),9.8\n(49.6),6.7\n(44.1),4.2\n(39.6)
43,United Kingdom,Lerwick,3.9\n(39.0),3.5\n(38.3),4.2\n(39.6),5.8\n(42.4),7.9\n(46.2),10.1\n(50.2),12.1\n(53.8),12.4\n(54.3),10.8\n(51.4),8.3\n(46.9),5.9\n(42.6),4.3\n(39.7)
44,United Kingdom,London,4.3\n(39.7),4.5\n(40.1),6.9\n(44.4),8.7\n(47.7),12.1\n(53.8),15.1\n(59.2),17.3\n(63.1),17.0\n(62.6),14.3\n(57.7),10.9\n(51.6),7.2\n(45.0),4.7\n(40.5)

In [16]:
eu_temp.melt(id_vars=['Country', 'City']) #ระบุ Column ที่เราจะยุบรวม หรือคงที่ไว้

            Country       City variable         value
0           Austria     Vienna      Jan   0.3\n(32.5)
1           Belgium   Brussels      Jan   3.3\n(37.9)
2          Bulgaria      Sofia      Jan  −0.5\n(31.1)
3           Croatia     Zagreb      Jan   0.3\n(32.5)
4    Czech Republic     Prague      Jan  −1.4\n(29.5)
..              ...        ...      ...           ...
535          Turkey   Istanbul      Dec   8.0\n(46.4)
536         Ukraine       Kiev      Dec  −2.3\n(27.9)
537  United Kingdom  Edinburgh      Dec   4.2\n(39.6)
538  United Kingdom    Lerwick      Dec   4.3\n(39.7)
539  United Kingdom     London      Dec   4.7\n(40.5)

[540 rows x 4 columns]

In [17]:
#ระบุชื่อ var, value ให้
long_eu_temp = eu_temp.melt(id_vars=['Country', 'City'], 
                            var_name='Month', 
                            value_name='Temperature') 

long_eu_temp

            Country       City Month   Temperature
0           Austria     Vienna   Jan   0.3\n(32.5)
1           Belgium   Brussels   Jan   3.3\n(37.9)
2          Bulgaria      Sofia   Jan  −0.5\n(31.1)
3           Croatia     Zagreb   Jan   0.3\n(32.5)
4    Czech Republic     Prague   Jan  −1.4\n(29.5)
..              ...        ...   ...           ...
535          Turkey   Istanbul   Dec   8.0\n(46.4)
536         Ukraine       Kiev   Dec  −2.3\n(27.9)
537  United Kingdom  Edinburgh   Dec   4.2\n(39.6)
538  United Kingdom    Lerwick   Dec   4.3\n(39.7)
539  United Kingdom     London   Dec   4.7\n(40.5)

[540 rows x 4 columns]

In [47]:
long_eu_temp.pivot(index='City', columns='Month', values='Temperature')
#กลับมาเป็นตารางแบบ Wide ใหม่
#สังเกตว่าคำสั่ง pivot จะ sort index ให้ด้วย!

Month,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep
City,,,,,,,,,,,,
Almeria,17.0\n(62.6),26.7\n(80.1),13.8\n(56.8),13.3\n(55.9),12.6\n(54.7),26.1\n(79.0),23.5\n(74.3),15.1\n(59.2),19.7\n(67.5),16.4\n(61.5),20.4\n(68.7),24.2\n(75.6)
Amsterdam,9.1\n(48.4),17.5\n(63.5),4.0\n(39.2),3.5\n(38.3),3.4\n(38.1),17.6\n(63.7),15.4\n(59.7),6.1\n(43.0),12.9\n(55.2),7.1\n(44.8),11.0\n(51.8),14.7\n(58.5)
Arkhangelsk,0.4\n(32.7),13.1\n(55.6),−9.8\n(14.4),−11.4\n(11.5),−12.7\n(9.1),16.3\n(61.3),13.0\n(55.4),−5.5\n(22.1),6.9\n(44.4),−5.1\n(22.8),2.3\n(36.1),8.2\n(46.8)
Athens,16.9\n(62.4),29.3\n(84.7),11.5\n(52.7),10.9\n(51.6),10.2\n(50.4),29.3\n(84.7),26.6\n(79.9),13.2\n(55.8),21.8\n(71.2),15.5\n(59.9),20.1\n(68.2),25.0\n(77.0)
Barcelona,15.8\n(60.4),26.1\n(79.0),12.3\n(54.1),12.4\n(54.3),11.8\n(53.2),25.7\n(78.3),23.0\n(73.4),14.2\n(57.6),19.3\n(66.7),14.9\n(58.8),19.5\n(67.1),23.0\n(73.4)
Belgrade,12.9\n(55.2),22.7\n(72.9),2.7\n(36.9),3.1\n(37.6),1.4\n(34.5),23.0\n(73.4),21.0\n(69.8),7.6\n(45.7),18.1\n(64.6),7.1\n(44.8),12.9\n(55.2),18.0\n(64.4)
Bergen,5.9\n(42.6),14.4\n(57.9),2.6\n(36.7),1.6\n(34.9),1.5\n(34.7),14.5\n(58.1),13.5\n(56.3),3.3\n(37.9),10.5\n(50.9),4.7\n(40.5),8.7\n(47.7),11.5\n(52.7)
Berlin,10.2\n(50.4),19.7\n(67.5),1.3\n(34.3),2.3\n(36.1),0.6\n(33.1),20.3\n(68.5),17.9\n(64.2),5.1\n(41.2),14.8\n(58.6),6.0\n(42.8),10.5\n(50.9),15.3\n(59.5)
Brussels,9.8\n(49.6),18.0\n(64.4),3.9\n(39.0),3.7\n(38.7),3.3\n(37.9),18.4\n(65.1),16.2\n(61.2),6.8\n(44.2),13.6\n(56.5),6.8\n(44.2),11.1\n(52.0),14.9\n(58.8)
Bucharest,11.2\n(52.2),22.0\n(71.6),0.2\n(32.4),0.4\n(32.7),−1.3\n(29.7),22.5\n(72.5),20.6\n(69.1),5.4\n(41.7),16.8\n(62.2),4.7\n(40.5),11.0\n(51.8),16.9\n(62.4)
Budapest,12.0\n(53.6),21.2\n(70.2),1.8\n(35.2),2.3\n(36.1),0.4\n(32.7),21.5\n(70.7),19.7\n(67.5),6.1\n(43.0),16.6\n(61.9),5.4\n(41.7),11.8\n(53.2),16.9\n(62.4)
Copenhagen,6.1\n(43.0),16.7\n(62.1),2.1\n(35.8),0.5\n(32.9),0.6\n(33.1),16.9\n(62.4),14.8\n(58.6),2.5\n(36.5),11.1\n(52.0),4.9\n(40.8),9.1\n(48.4),13.1\n(55.6)
Dublin,8.3\n(46.9),15.3\n(59.5),5.6\n(42.1),5.3\n(41.5),5.3\n(41.5),15.6\n(60.1),13.6\n(56.5),6.8\n(44.2),10.9\n(51.6),7.4\n(45.3),10.5\n(50.9),13.4\n(56.1)
Edinburgh,8.1\n(46.6),15.2\n(59.4),4.2\n(39.6),4.5\n(40.1),4.2\n(39.6),15.3\n(59.5),13.5\n(56.3),6.2\n(43.2),10.8\n(51.4),6.7\n(44.1),9.8\n(49.6),13.0\n(55.4)
Frankfurt,8\n(46),18\n(64),2\n(36),2\n(36),1\n(34),18\n(64),16\n(61),6\n(43),13\n(55),5\n(41),10\n(50),15\n(59)
Helsinki,3.9\n(39.0),16.3\n(61.3),−2.0\n(28.4),−4.7\n(23.5),−3.9\n(25.0),17.8\n(64.0),14.6\n(58.3),−1.3\n(29.7),10.2\n(50.4),1.6\n(34.9),6.6\n(43.9),11.5\n(52.7)
Istanbul,11.1\n(52.0),23.1\n(73.6),8.0\n(46.4),5.7\n(42.3),5.7\n(42.3),22.9\n(73.2),20.4\n(68.7),7.0\n(44.6),15.7\n(60.3),11.5\n(52.7),15.6\n(60.1),19.8\n(67.6)
Kiev,9.3\n(48.7),19.7\n(67.5),−2.3\n(27.9),−3.0\n(26.6),−3.5\n(25.7),20.5\n(68.9),18.5\n(65.3),1.8\n(35.2),15.5\n(59.9),1.9\n(35.4),8.4\n(47.1),14.2\n(57.6)
Kuopio,2.0\n(35.6),15.0\n(59.0),−6.7\n(19.9),−9.2\n(15.4),−9.2\n(15.4),17.5\n(63.5),14.5\n(58.1),−4.1\n(24.6),9.1\n(48.4),−2.0\n(28.4),4.1\n(39.4),9.7\n(49.5)
Lerwick,5.8\n(42.4),12.4\n(54.3),4.3\n(39.7),3.5\n(38.3),3.9\n(39.0),12.1\n(53.8),10.1\n(50.2),4.2\n(39.6),7.9\n(46.2),5.9\n(42.6),8.3\n(46.9),10.8\n(51.4)
Lisbon,15.9\n(60.6),23.5\n(74.3),12.4\n(54.3),12.7\n(54.9),11.6\n(52.9),23.1\n(73.6),21.2\n(70.2),14.9\n(58.8),18.0\n(64.4),15.0\n(59.0),18.8\n(65.8),22.1\n(71.8)
London,8.7\n(47.7),17.0\n(62.6),4.7\n(40.5),4.5\n(40.1),4.3\n(39.7),17.3\n(63.1),15.1\n(59.2),6.9\n(44.4),12.1\n(53.8),7.2\n(45.0),10.9\n(51.6),14.3\n(57.7)
Madrid,12.9\n(55.2),25.1\n(77.2),6.9\n(44.4),7.9\n(46.2),6.3\n(43.3),25.6\n(78.1),22.2\n(72.0),11.2\n(52.2),16.7\n(62.1),9.9\n(49.8),15.1\n(59.2),20.9\n(69.6)
Marseille,13.8\n(56.8),24.1\n(75.4),9.3\n(48.7),8.9\n(48.0),8.4\n(47.1),24.5\n(76.1),21.3\n(70.3),11.6\n(52.9),17.9\n(64.2),11.8\n(53.2),16.9\n(62.4),20.7\n(69.3)
Milan,12.2\n(54.0),23.0\n(73.4),3.3\n(37.9),4.7\n(40.5),2.5\n(36.5),23.6\n(74.5),20.8\n(69.4),9.0\n(48.2),17.0\n(62.6),7.2\n(45.0),13.4\n(56.1),19.2\n(66.6)
Moscow,6.7\n(44.1),17.0\n(62.6),−5.2\n(22.6),−6.7\n(19.9),−6.5\n(20.3),19.2\n(66.6),17.0\n(62.6),−1.0\n(30.2),13.2\n(55.8),−1.2\n(29.8),5.6\n(42.1),11.3\n(52.3)
Murmansk,−0.7\n(30.7),11.1\n(52.0),−8.2\n(17.2),−9.7\n(14.5),−10.1\n(13.8),12.8\n(55.0),9.2\n(48.6),−5.5\n(22.1),4.0\n(39.2),−4.8\n(23.4),1.5\n(34.7),7.0\n(44.6)
Oslo,4.5\n(40.1),15.2\n(59.4),−3.1\n(26.4),−4.0\n(24.8),−4.3\n(24.3),16.4\n(61.5),15.2\n(59.4),−0.2\n(31.6),10.8\n(51.4),0.7\n(33.3),6.3\n(43.3),10.8\n(51.4)
Oulu,1.4\n(34.5),14.1\n(57.4),−7.1\n(19.2),−9.3\n(15.3),−9.6\n(14.7),16.5\n(61.7),13.5\n(56.3),−4.8\n(23.4),7.8\n(46.0),−2.8\n(27.0),3.3\n(37.9),8.9\n(48.0)
Paris,11.4\n(52.5),20.2\n(68.4),5.4\n(41.7),5.6\n(42.1),4.9\n(40.8),20.4\n(68.7),18.2\n(64.8),8.8\n(47.8),15.1\n(59.2),8.1\n(46.6),12.9\n(55.2),16.9\n(62.4)
Piraeus,16.9\n(62.4),28.8\n(83.8),12.6\n(54.7),11.2\n(52.2),11.1\n(52.0),29.0\n(84.2),26.3\n(79.3),13.3\n(55.9),21.4\n(70.5),15.8\n(60.4),20.6\n(69.1),25.2\n(77.4)
Prague,8.4\n(47.1),17.8\n(64.0),−0.3\n(31.5),−0.4\n(31.3),−1.4\n(29.5),18.2\n(64.8),16.1\n(61.0),3.6\n(38.5),13.4\n(56.1),3.1\n(37.6),8.5\n(47.3),13.5\n(56.3)
Reykjavík,2.9\n(37.2),10.3\n(50.5),−0.2\n(31.6),0.4\n(32.7),−0.5\n(31.1),10.6\n(51.1),9.0\n(48.2),0.5\n(32.9),6.3\n(43.3),1.1\n(34.0),4.4\n(39.9),7.4\n(45.3)
Rome,12.6\n(54.7),24.5\n(76.1),8.4\n(47.1),8.2\n(46.8),7.5\n(45.5),24.1\n(75.4),21.1\n(70.0),10.2\n(50.4),17.2\n(63.0),11.4\n(52.5),16.4\n(61.5),20.8\n(69.4)
Rostov-on-Don,10.6\n(51.1),22.6\n(72.7),−1.6\n(29.1),−2.8\n(27.0),−3.0\n(26.6),23.4\n(74.1),21.0\n(69.8),2.4\n(36.3),16.6\n(61.9),2.9\n(37.2),10.0\n(50.0),16.7\n(62.1)
Seville,17.3\n(63.1),27.9\n(82.2),11.9\n(53.4),12.5\n(54.5),10.9\n(51.6),28.2\n(82.8),25.1\n(77.2),15.6\n(60.1),20.7\n(69.3),15.1\n(59.2),20.2\n(68.4),25.0\n(77.0)
Sochi,12.1\n(53.8),23.6\n(74.5),8.1\n(46.6),6.0\n(42.8),6.1\n(43.0),23.2\n(73.8),20.2\n(68.4),8.2\n(46.8),16.0\n(60.8),11.1\n(52.0),15.8\n(60.4),20.0\n(68.0)
Sofia,10.6\n(51.1),21.0\n(69.8),0.7\n(33.3),1.1\n(34.0),−0.5\n(31.1),21.2\n(70.2),18.9\n(66.0),5.4\n(41.7),15.4\n(59.7),5.1\n(41.2),11.3\n(52.3),16.5\n(61.7)
Stockholm,4.6\n(40.3),16.2\n(61.2),−1.0\n(30.2),−3.0\n(26.6),−2.8\n(27.0),17.2\n(63.0),15.6\n(60.1),0.1\n(32.2),10.7\n(51.3),2.6\n(36.7),7.5\n(45.5),11.9\n(53.4)
Tromsø,0.7\n(33.3),10.9\n(51.6),−2.7\n(27.1),−3.7\n(25.3),−3.8\n(25.2),11.8\n(53.2),9.2\n(48.6),−2.3\n(27.9),5.1\n(41.2),−0.6\n(30.9),3.2\n(37.8),6.9\n(44.4)
Valletta,15.5\n(59.9),26.3\n(79.3),13.8\n(56.8),12.4\n(54.3),12.2\n(54.0),25.9\n(78.6),23.0\n(73.4),13.4\n(56.1),19.1\n(66.4),17.0\n(62.6),20.7\n(69.3),24.1\n(75.4)
Vienna,10.7\n(51.3),20.2\n(68.4),1.1\n(34.0),1.5\n(34.7),0.3\n(32.5),20.8\n(69.4),18.7\n(65.7),5.7\n(42.3),15.7\n(60.3),5.1\n(41.2),10.2\n(50.4),15.4\n(59.7)
Warsaw,8.7\n(47.7),18.3\n(64.9),−0.7\n(30.7),−0.6\n(30.9),−1.8\n(28.8),19.2\n(66.6),17.0\n(62.6),2.8\n(37.0),14.2\n(57.6),3.3\n(37.9),8.5\n(47.3),13.5\n(56.3)
Zagreb,10.7\n(51.3),20.1\n(68.2),1.4\n(34.5),2.3\n(36.1),0.3\n(32.5),20.6\n(69.1),18.8\n(65.8),6.4\n(43.5),15.8\n(60.4),5.0\n(41.0),10.5\n(50.9),15.9\n(60.6)
Zürich,8.8\n(47.8),18.0\n(64.4),1.4\n(34.5),1.3\n(34.3),0.3\n(32.5),18.6\n(65.5),16.4\n(61.5),5.3\n(41.5),13.3\n(55.9),4.4\n(39.9),9.9\n(49.8),14.1\n(57.4)

In [48]:
long_eu_temp.pivot(index=['Country','City'], 
                   columns='Month', 
                   values='Temperature')
#Multiindex

Month                                  Apr           Aug           Dec  \
Country        City
Austria        Vienna         10.7\n(51.3)  20.2\n(68.4)   1.1\n(34.0)
Belgium        Brussels        9.8\n(49.6)  18.0\n(64.4)   3.9\n(39.0)
Bulgaria       Sofia          10.6\n(51.1)  21.0\n(69.8)   0.7\n(33.3)
Croatia        Zagreb         10.7\n(51.3)  20.1\n(68.2)   1.4\n(34.5)
Czech Republic Prague          8.4\n(47.1)  17.8\n(64.0)  −0.3\n(31.5)
Denmark        Copenhagen      6.1\n(43.0)  16.7\n(62.1)   2.1\n(35.8)
Finland        Helsinki        3.9\n(39.0)  16.3\n(61.3)  −2.0\n(28.4)
               Kuopio          2.0\n(35.6)  15.0\n(59.0)  −6.7\n(19.9)
               Oulu            1.4\n(34.5)  14.1\n(57.4)  −7.1\n(19.2)
France         Marseille      13.8\n(56.8)  24.1\n(75.4)   9.3\n(48.7)
               Paris          11.4\n(52.5)  20.2\n(68.4)   5.4\n(41.7)
Germany        Berlin         10.2\n(50.4)  19.7\n(67.5)   1.3\n(34.3)
               Frankfurt           8\n(46)      18\n(64)       2\n(36)
Greece         Athens         16.9\n(62.4)  29.3\n(84.7)  11.5\n(52.7)
               Piraeus        16.9\n(62.4)  28.8\n(83.8)  12.6\n(54.7)
Hungary        Budapest       12.0\n(53.6)  21.2\n(70.2)   1.8\n(35.2)
Iceland        Reykjavík       2.9\n(37.2)  10.3\n(50.5)  −0.2\n(31.6)
Ireland        Dublin          8.3\n(46.9)  15.3\n(59.5)   5.6\n(42.1)
Italy          Milan          12.2\n(54.0)  23.0\n(73.4)   3.3\n(37.9)
               Rome           12.6\n(54.7)  24.5\n(76.1)   8.4\n(47.1)
Malta          Valletta       15.5\n(59.9)  26.3\n(79.3)  13.8\n(56.8)
Netherlands    Amsterdam       9.1\n(48.4)  17.5\n(63.5)   4.0\n(39.2)
Norway         Bergen          5.9\n(42.6)  14.4\n(57.9)   2.6\n(36.7)
               Oslo            4.5\n(40.1)  15.2\n(59.4)  −3.1\n(26.4)
               Tromsø          0.7\n(33.3)  10.9\n(51.6)  −2.7\n(27.1)
Poland         Warsaw          8.7\n(47.7)  18.3\n(64.9)  −0.7\n(30.7)
Portugal       Lisbon         15.9\n(60.6)  23.5\n(74.3)  12.4\n(54.3)
Romania        Bucharest      11.2\n(52.2)  22.0\n(71.6)   0.2\n(32.4)
Russia         Arkhangelsk     0.4\n(32.7)  13.1\n(55.6)  −9.8\n(14.4)
               Moscow          6.7\n(44.1)  17.0\n(62.6)  −5.2\n(22.6)
               Murmansk       −0.7\n(30.7)  11.1\n(52.0)  −8.2\n(17.2)
               Rostov-on-Don  10.6\n(51.1)  22.6\n(72.7)  −1.6\n(29.1)
               Sochi          12.1\n(53.8)  23.6\n(74.5)   8.1\n(46.6)
Serbia         Belgrade       12.9\n(55.2)  22.7\n(72.9)   2.7\n(36.9)
Spain          Almeria        17.0\n(62.6)  26.7\n(80.1)  13.8\n(56.8)
               Barcelona      15.8\n(60.4)  26.1\n(79.0)  12.3\n(54.1)
               Madrid         12.9\n(55.2)  25.1\n(77.2)   6.9\n(44.4)
               Seville        17.3\n(63.1)  27.9\n(82.2)  11.9\n(53.4)
Sweden         Stockholm       4.6\n(40.3)  16.2\n(61.2)  −1.0\n(30.2)
Switzerland    Zürich          8.8\n(47.8)  18.0\n(64.4)   1.4\n(34.5)
Turkey         Istanbul       11.1\n(52.0)  23.1\n(73.6)   8.0\n(46.4)
Ukraine        Kiev            9.3\n(48.7)  19.7\n(67.5)  −2.3\n(27.9)
United Kingdom Edinburgh       8.1\n(46.6)  15.2\n(59.4)   4.2\n(39.6)
               Lerwick         5.8\n(42.4)  12.4\n(54.3)   4.3\n(39.7)
               London          8.7\n(47.7)  17.0\n(62.6)   4.7\n(40.5)

Month                                   Feb            Jan           Jul  \
Country        City
Austria        Vienna           1.5\n(34.7)    0.3\n(32.5)  20.8\n(69.4)
Belgium        Brussels         3.7\n(38.7)    3.3\n(37.9)  18.4\n(65.1)
Bulgaria       Sofia            1.1\n(34.0)   −0.5\n(31.1)  21.2\n(70.2)
Croatia        Zagreb           2.3\n(36.1)    0.3\n(32.5)  20.6\n(69.1)
Czech Republic Prague          −0.4\n(31.3)   −1.4\n(29.5)  18.2\n(64.8)
Denmark        Copenhagen       0.5\n(32.9)    0.6\n(33.1)  16.9\n(62.4)
Finland        Helsinki        −4.7\n(23.5)   −3.9\n(25.0)  17.8\n(64.0)
               Kuopio          −9.2\n(15.4)   −9.2\n(15.4)  17.5\n(63.5)
               Oulu            −9.3\n(15.3)   −9.6\n(14.7)  16.5\n(61.7)
France         Marseille        8.9\n(48.0)    8.4\n(47.1)  24.5\n(76.1)
               Paris            5.6\n(42.1)    4.9\n(40.8)  20.4\n(68.7)
Germany        Berlin           2.3\n(36.1)    0.6\n(33.1)  20.3\n(68.5)
               Frankfurt            2\n(36)        1\n(34)      18\n(64)
Greece         Athens          10.9\n(51.6)   10.2\n(50.4)  29.3\n(84.7)
               Piraeus         11.2\n(52.2)   11.1\n(52.0)  29.0\n(84.2)
Hungary        Budapest         2.3\n(36.1)    0.4\n(32.7)  21.5\n(70.7)
Iceland        Reykjavík        0.4\n(32.7)   −0.5\n(31.1)  10.6\n(51.1)
Ireland        Dublin           5.3\n(41.5)    5.3\n(41.5)  15.6\n(60.1)
Italy          Milan            4.7\n(40.5)    2.5\n(36.5)  23.6\n(74.5)
               Rome             8.2\n(46.8)    7.5\n(45.5)  24.1\n(75.4)
Malta          Valletta        12.4\n(54.3)   12.2\n(54.0)  25.9\n(78.6)
Netherlands    Amsterdam        3.5\n(38.3)    3.4\n(38.1)  17.6\n(63.7)
Norway         Bergen           1.6\n(34.9)    1.5\n(34.7)  14.5\n(58.1)
               Oslo            −4.0\n(24.8)   −4.3\n(24.3)  16.4\n(61.5)
               Tromsø          −3.7\n(25.3)   −3.8\n(25.2)  11.8\n(53.2)
Poland         Warsaw          −0.6\n(30.9)   −1.8\n(28.8)  19.2\n(66.6)
Portugal       Lisbon          12.7\n(54.9)   11.6\n(52.9)  23.1\n(73.6)
Romania        Bucharest        0.4\n(32.7)   −1.3\n(29.7)  22.5\n(72.5)
Russia         Arkhangelsk    −11.4\n(11.5)   −12.7\n(9.1)  16.3\n(61.3)
               Moscow          −6.7\n(19.9)   −6.5\n(20.3)  19.2\n(66.6)
               Murmansk        −9.7\n(14.5)  −10.1\n(13.8)  12.8\n(55.0)
               Rostov-on-Don   −2.8\n(27.0)   −3.0\n(26.6)  23.4\n(74.1)
               Sochi            6.0\n(42.8)    6.1\n(43.0)  23.2\n(73.8)
Serbia         Belgrade         3.1\n(37.6)    1.4\n(34.5)  23.0\n(73.4)
Spain          Almeria         13.3\n(55.9)   12.6\n(54.7)  26.1\n(79.0)
               Barcelona       12.4\n(54.3)   11.8\n(53.2)  25.7\n(78.3)
               Madrid           7.9\n(46.2)    6.3\n(43.3)  25.6\n(78.1)
               Seville         12.5\n(54.5)   10.9\n(51.6)  28.2\n(82.8)
Sweden         Stockholm       −3.0\n(26.6)   −2.8\n(27.0)  17.2\n(63.0)
Switzerland    Zürich           1.3\n(34.3)    0.3\n(32.5)  18.6\n(65.5)
Turkey         Istanbul         5.7\n(42.3)    5.7\n(42.3)  22.9\n(73.2)
Ukraine        Kiev            −3.0\n(26.6)   −3.5\n(25.7)  20.5\n(68.9)
United Kingdom Edinburgh        4.5\n(40.1)    4.2\n(39.6)  15.3\n(59.5)
               Lerwick          3.5\n(38.3)    3.9\n(39.0)  12.1\n(53.8)
               London           4.5\n(40.1)    4.3\n(39.7)  17.3\n(63.1)

Month                                  Jun           Mar           May  \
Country        City
Austria        Vienna         18.7\n(65.7)   5.7\n(42.3)  15.7\n(60.3)
Belgium        Brussels       16.2\n(61.2)   6.8\n(44.2)  13.6\n(56.5)
Bulgaria       Sofia          18.9\n(66.0)   5.4\n(41.7)  15.4\n(59.7)
Croatia        Zagreb         18.8\n(65.8)   6.4\n(43.5)  15.8\n(60.4)
Czech Republic Prague         16.1\n(61.0)   3.6\n(38.5)  13.4\n(56.1)
Denmark        Copenhagen     14.8\n(58.6)   2.5\n(36.5)  11.1\n(52.0)
Finland        Helsinki       14.6\n(58.3)  −1.3\n(29.7)  10.2\n(50.4)
               Kuopio         14.5\n(58.1)  −4.1\n(24.6)   9.1\n(48.4)
               Oulu           13.5\n(56.3)  −4.8\n(23.4)   7.8\n(46.0)
France         Marseille      21.3\n(70.3)  11.6\n(52.9)  17.9\n(64.2)
               Paris          18.2\n(64.8)   8.8\n(47.8)  15.1\n(59.2)
Germany        Berlin         17.9\n(64.2)   5.1\n(41.2)  14.8\n(58.6)
               Frankfurt          16\n(61)       6\n(43)      13\n(55)
Greece         Athens         26.6\n(79.9)  13.2\n(55.8)  21.8\n(71.2)
               Piraeus        26.3\n(79.3)  13.3\n(55.9)  21.4\n(70.5)
Hungary        Budapest       19.7\n(67.5)   6.1\n(43.0)  16.6\n(61.9)
Iceland        Reykjavík       9.0\n(48.2)   0.5\n(32.9)   6.3\n(43.3)
Ireland        Dublin         13.6\n(56.5)   6.8\n(44.2)  10.9\n(51.6)
Italy          Milan          20.8\n(69.4)   9.0\n(48.2)  17.0\n(62.6)
               Rome           21.1\n(70.0)  10.2\n(50.4)  17.2\n(63.0)
Malta          Valletta       23.0\n(73.4)  13.4\n(56.1)  19.1\n(66.4)
Netherlands    Amsterdam      15.4\n(59.7)   6.1\n(43.0)  12.9\n(55.2)
Norway         Bergen         13.5\n(56.3)   3.3\n(37.9)  10.5\n(50.9)
               Oslo           15.2\n(59.4)  −0.2\n(31.6)  10.8\n(51.4)
               Tromsø          9.2\n(48.6)  −2.3\n(27.9)   5.1\n(41.2)
Poland         Warsaw         17.0\n(62.6)   2.8\n(37.0)  14.2\n(57.6)
Portugal       Lisbon         21.2\n(70.2)  14.9\n(58.8)  18.0\n(64.4)
Romania        Bucharest      20.6\n(69.1)   5.4\n(41.7)  16.8\n(62.2)
Russia         Arkhangelsk    13.0\n(55.4)  −5.5\n(22.1)   6.9\n(44.4)
               Moscow         17.0\n(62.6)  −1.0\n(30.2)  13.2\n(55.8)
               Murmansk        9.2\n(48.6)  −5.5\n(22.1)   4.0\n(39.2)
               Rostov-on-Don  21.0\n(69.8)   2.4\n(36.3)  16.6\n(61.9)
               Sochi          20.2\n(68.4)   8.2\n(46.8)  16.0\n(60.8)
Serbia         Belgrade       21.0\n(69.8)   7.6\n(45.7)  18.1\n(64.6)
Spain          Almeria        23.5\n(74.3)  15.1\n(59.2)  19.7\n(67.5)
               Barcelona      23.0\n(73.4)  14.2\n(57.6)  19.3\n(66.7)
               Madrid         22.2\n(72.0)  11.2\n(52.2)  16.7\n(62.1)
               Seville        25.1\n(77.2)  15.6\n(60.1)  20.7\n(69.3)
Sweden         Stockholm      15.6\n(60.1)   0.1\n(32.2)  10.7\n(51.3)
Switzerland    Zürich         16.4\n(61.5)   5.3\n(41.5)  13.3\n(55.9)
Turkey         Istanbul       20.4\n(68.7)   7.0\n(44.6)  15.7\n(60.3)
Ukraine        Kiev           18.5\n(65.3)   1.8\n(35.2)  15.5\n(59.9)
United Kingdom Edinburgh      13.5\n(56.3)   6.2\n(43.2)  10.8\n(51.4)
               Lerwick        10.1\n(50.2)   4.2\n(39.6)   7.9\n(46.2)
               London         15.1\n(59.2)   6.9\n(44.4)  12.1\n(53.8)

Month                                  Nov           Oct           Sep
Country        City
Austria        Vienna          5.1\n(41.2)  10.2\n(50.4)  15.4\n(59.7)
Belgium        Brussels        6.8\n(44.2)  11.1\n(52.0)  14.9\n(58.8)
Bulgaria       Sofia           5.1\n(41.2)  11.3\n(52.3)  16.5\n(61.7)
Croatia        Zagreb          5.0\n(41.0)  10.5\n(50.9)  15.9\n(60.6)
Czech Republic Prague          3.1\n(37.6)   8.5\n(47.3)  13.5\n(56.3)
Denmark        Copenhagen      4.9\n(40.8)   9.1\n(48.4)  13.1\n(55.6)
Finland        Helsinki        1.6\n(34.9)   6.6\n(43.9)  11.5\n(52.7)
               Kuopio         −2.0\n(28.4)   4.1\n(39.4)   9.7\n(49.5)
               Oulu           −2.8\n(27.0)   3.3\n(37.9)   8.9\n(48.0)
France         Marseille      11.8\n(53.2)  16.9\n(62.4)  20.7\n(69.3)
               Paris           8.1\n(46.6)  12.9\n(55.2)  16.9\n(62.4)
Germany        Berlin          6.0\n(42.8)  10.5\n(50.9)  15.3\n(59.5)
               Frankfurt           5\n(41)      10\n(50)      15\n(59)
Greece         Athens         15.5\n(59.9)  20.1\n(68.2)  25.0\n(77.0)
               Piraeus        15.8\n(60.4)  20.6\n(69.1)  25.2\n(77.4)
Hungary        Budapest        5.4\n(41.7)  11.8\n(53.2)  16.9\n(62.4)
Iceland        Reykjavík       1.1\n(34.0)   4.4\n(39.9)   7.4\n(45.3)
Ireland        Dublin          7.4\n(45.3)  10.5\n(50.9)  13.4\n(56.1)
Italy          Milan           7.2\n(45.0)  13.4\n(56.1)  19.2\n(66.6)
               Rome           11.4\n(52.5)  16.4\n(61.5)  20.8\n(69.4)
Malta          Valletta       17.0\n(62.6)  20.7\n(69.3)  24.1\n(75.4)
Netherlands    Amsterdam       7.1\n(44.8)  11.0\n(51.8)  14.7\n(58.5)
Norway         Bergen          4.7\n(40.5)   8.7\n(47.7)  11.5\n(52.7)
               Oslo            0.7\n(33.3)   6.3\n(43.3)  10.8\n(51.4)
               Tromsø         −0.6\n(30.9)   3.2\n(37.8)   6.9\n(44.4)
Poland         Warsaw          3.3\n(37.9)   8.5\n(47.3)  13.5\n(56.3)
Portugal       Lisbon         15.0\n(59.0)  18.8\n(65.8)  22.1\n(71.8)
Romania        Bucharest       4.7\n(40.5)  11.0\n(51.8)  16.9\n(62.4)
Russia         Arkhangelsk    −5.1\n(22.8)   2.3\n(36.1)   8.2\n(46.8)
               Moscow         −1.2\n(29.8)   5.6\n(42.1)  11.3\n(52.3)
               Murmansk       −4.8\n(23.4)   1.5\n(34.7)   7.0\n(44.6)
               Rostov-on-Don   2.9\n(37.2)  10.0\n(50.0)  16.7\n(62.1)
               Sochi          11.1\n(52.0)  15.8\n(60.4)  20.0\n(68.0)
Serbia         Belgrade        7.1\n(44.8)  12.9\n(55.2)  18.0\n(64.4)
Spain          Almeria        16.4\n(61.5)  20.4\n(68.7)  24.2\n(75.6)
               Barcelona      14.9\n(58.8)  19.5\n(67.1)  23.0\n(73.4)
               Madrid          9.9\n(49.8)  15.1\n(59.2)  20.9\n(69.6)
               Seville        15.1\n(59.2)  20.2\n(68.4)  25.0\n(77.0)
Sweden         Stockholm       2.6\n(36.7)   7.5\n(45.5)  11.9\n(53.4)
Switzerland    Zürich          4.4\n(39.9)   9.9\n(49.8)  14.1\n(57.4)
Turkey         Istanbul       11.5\n(52.7)  15.6\n(60.1)  19.8\n(67.6)
Ukraine        Kiev            1.9\n(35.4)   8.4\n(47.1)  14.2\n(57.6)
United Kingdom Edinburgh       6.7\n(44.1)   9.8\n(49.6)  13.0\n(55.4)
               Lerwick         5.9\n(42.6)   8.3\n(46.9)  10.8\n(51.4)
               London          7.2\n(45.0)  10.9\n(51.6)  14.3\n(57.7)

In [50]:
##GroupBy
player_df.passes.sum()

np.int64(50290)

In [53]:
player_df.query('team=="Algeria"').passes.sum()

np.int64(1099)

In [58]:
g = player_df.groupby('position')
g
#object

In [59]:
g.groups

{'defender': [1, 3, 8, 15, 20, 21, 24, 30, 33, 35, 38, 41, 51, 52, 58, 61, 65, 69, 70, 72, 78, 79, 80, 86, 90, 91, 93, 94, 99, 102, 104, 105, 106, 110, 115, 116, 123, 128, 129, 135, 137, 141, 146, 151, 152, 154, 159, 160, 161, 169, 170, 173, 174, 176, 178, 183, 185, 192, 201, 202, 203, 207, 208, 210, 211, 217, 218, 220, 224, 225, 226, 229, 231, 232, 234, 236, 238, 239, 251, 252, 253, 259, 267, 269, 270, 274, 278, 281, 291, 292, 293, 295, 296, 302, 311, 312, 313, 314, 316, 317, ...], 'forward': [5, 6, 14, 18, 25, 28, 29, 31, 36, 47, 49, 53, 60, 63, 73, 75, 76, 82, 85, 88, 95, 108, 109, 111, 112, 114, 118, 130, 134, 138, 139, 143, 150, 157, 158, 162, 164, 165, 175, 177, 180, 181, 186, 188, 193, 194, 200, 206, 209, 212, 213, 214, 222, 223, 237, 241, 242, 246, 247, 255, 257, 258, 263, 264, 266, 271, 272, 273, 275, 277, 297, 298, 300, 301, 304, 305, 307, 310, 319, 322, 324, 325, 328, 337, 343, 344, 349, 352, 360, 361, 362, 363, 368, 369, 373, 374, 376, 377, 388, 389, ...], 'goalkeeper': [4, 11, 34, 54, 66, 87, 97, 133, 142, 144, 166, 187, 204, 228, 245, 249, 260, 268, 289, 315, 330, 347, 356, 385, 405, 413, 440, 454, 470, 482, 485, 502, 521, 539, 570, 591], 'midfielder': [0, 2, 7, 9, 10, 12, 13, 16, 17, 19, 22, 23, 26, 27, 32, 37, 39, 40, 42, 43, 44, 45, 46, 48, 50, 55, 56, 57, 59, 62, 64, 67, 68, 71, 74, 77, 81, 83, 84, 89, 92, 96, 98, 100, 101, 103, 107, 113, 117, 119, 120, 121, 122, 124, 125, 126, 127, 131, 132, 136, 140, 145, 147, 148, 149, 153, 155, 156, 163, 167, 168, 171, 172, 179, 182, 184, 189, 190, 191, 195, 196, 197, 198, 199, 205, 215, 216, 219, 221, 227, 230, 233, 235, 240, 243, 244, 248, 250, 254, 256, ...]}

In [60]:
g.passes.sum()

position
defender      19297
forward        7268
goalkeeper     2003
midfielder    21722
Name: passes, dtype: int64

In [62]:
player_df.groupby('team').passes.mean()

team
Algeria          61.055556
Argentina       130.700000
Australia        60.526316
Brazil          126.052632
Cameroon         67.200000
Chile            80.000000
Denmark          57.000000
England          94.631579
France           58.789474
Germany         149.631579
Ghana           114.210526
Greece           48.578947
Honduras         45.789474
Italy            71.263158
Ivory Coast      75.812500
Japan            67.333333
Mexico          103.055556
Netherlands     152.666667
New Zealand      57.800000
Nigeria          49.333333
North Korea      59.333333
Paraguay        100.700000
Portugal         77.100000
Serbia           63.210526
Slovakia         72.333333
Slovenia         69.200000
South Africa     64.105263
South Korea      88.705882
Spain           185.050000
Switzerland      52.666667
USA              83.894737
Uruguay          94.000000
Name: passes, dtype: float64

In [64]:
#pivot table

#                forward          defender
#Algeria                sum of passes
#Argentina

player_df.pivot_table(index='team', 
                      columns='position', 
                      values='passes', 
                      aggfunc='sum')

position      defender  forward  goalkeeper  midfielder
team
Algeria            408       30          47         614
Argentina          829      676          47        1062
Australia          315       90          51         694
Brazil            1140      292          69         894
Cameroon           619      205          54         466
Chile              768      261          58         513
Denmark            288      126          52         617
England            722      198          93         785
France             484      119          43         471
Germany           1139      542          99        1063
Ghana              797      234         105        1034
Greece             340      116          41         426
Honduras           330      122          51         367
Italy              556      263          25         510
Ivory Coast        406      213          23         571
Japan              418       96          54         644
Mexico            1065      201          58         531
Netherlands       1095      487         149        1017
New Zealand        396      195          64         212
Nigeria            316      192          30         350
North Korea        270      196          46         378
Paraguay           779      358          99         778
Portugal           642      222          51         627
Serbia             508      103          52         538
Slovakia           623      212          85         599
Slovenia           395      134          66         443
South Africa       399       97          44         678
South Korea        574      110          49         775
Spain             1278      231          67        2125
Switzerland        321      128          75         424
USA                580      319          81         614
Uruguay            497      500          75         902

In [67]:
mul_g = player_df.groupby(['team','position']).passes.sum()
mul_g

team       position
Algeria    defender      408
           forward        30
           goalkeeper     47
           midfielder    614
Argentina  defender      829
                        ...
USA        midfielder    614
Uruguay    defender      497
           forward       500
           goalkeeper     75
           midfielder    902
Name: passes, Length: 128, dtype: int64

In [70]:
mul_g.to_frame()

                      passes
team      position
Algeria   defender       408
          forward         30
          goalkeeper      47
          midfielder     614
Argentina defender       829
...                      ...
USA       midfielder     614
Uruguay   defender       497
          forward        500
          goalkeeper      75
          midfielder     902

[128 rows x 1 columns]

In [71]:
mul_g.to_frame().unstack() #Unstack เอาแถวชั้นในสุดเป็นคอลัมน์ชั้นในสุด

               passes
position     defender forward goalkeeper midfielder
team
Algeria           408      30         47        614
Argentina         829     676         47       1062
Australia         315      90         51        694
Brazil           1140     292         69        894
Cameroon          619     205         54        466
Chile             768     261         58        513
Denmark           288     126         52        617
England           722     198         93        785
France            484     119         43        471
Germany          1139     542         99       1063
Ghana             797     234        105       1034
Greece            340     116         41        426
Honduras          330     122         51        367
Italy             556     263         25        510
Ivory Coast       406     213         23        571
Japan             418      96         54        644
Mexico           1065     201         58        531
Netherlands      1095     487        149       1017
New Zealand       396     195         64        212
Nigeria           316     192         30        350
North Korea       270     196         46        378
Paraguay          779     358         99        778
Portugal          642     222         51        627
Serbia            508     103         52        538
Slovakia          623     212         85        599
Slovenia          395     134         66        443
South Africa      399      97         44        678
South Korea       574     110         49        775
Spain            1278     231         67       2125
Switzerland       321     128         75        424
USA               580     319         81        614
Uruguay           497     500         75        902